body {

  margin: 0px;
  font-family: "Courier New", courier, monspace;
  font-size: 0.75em;
}

#header {
 background-color: black;
 color: white;
 padding: 1em;
 padding-top: 0.5em;
 padding-bottom: 0.5em;
}

#content-main {
  padding: 1em;
}

#content-main-loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#header a, h1 {
  color: white;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-size: 1.6em;
  font-weight: 700;
}

h1, h2, h3 {
  font-family: 'Stardos Stencil', sans-serif;
  font-weight: 400;
}

img, object {
  max-width: 100%;
  margin: auto;
}

input {
  font-family: inherit;
  font-size: 16px;
  left: 0px;
  right: 0px;
}

.list-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-container li {
  border-bottom: 1px solid rgba(243,243,243,.85);
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.image-list-container {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  text-align: center;
  flex-wrap: wrap;
  padding-right: -2em;
}

.image-list-container object {
  max-width: 100%;
  display: inline-block;
  text-align: center;
  padding-bottom: 1em;
}

.info-panel h2 {
  margin-top: 0;
}

.image-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
